<html lang="en">
    <head>
        <title>Restaurants</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <h1>Restaurant Menus</h1>
            <!-- should display restaurant name/cuisine -->
                <h1><%= restaurantId %> Menu</h1>
                <h2>This restaurant serves <%= cuisine%> style cuisine!</h2>
                <!-- takes every item from the restaurantid list, and puts it into a list
                 with their corresponding name, desc, price, and if theyre daily special -->
                <ul>
                  <% display.forEach(item => { %>
                    <li>
                      <strong><%= item.dish.name %></strong><br>
                      <em><%= item.dish.description %></em><br>
                      Price: $<%= item.dish.price.toFixed(2) %>
                      <strong><%= item.special%></strong>
                    </li>
                  <% }) %>
                </ul>
                <a href="/">Home</a>
        </main>
    </body>
</html>
