<!-- signing in as a user will bring you to here-->
<%- include('partials/header', { title: "User Dashboard" }) %>
<h1>Welcome, <%= user.username %>!</h1>
<p>Your email: <%= user.email %></p>
<p>Your role: <%= user.role %></p>
<p>Your password: (we're not giving it to you, good try.)</p>
<br />
<p>see, and now this is where we'd put the dashboard containing useless info. <i>if we had a budget</i></p>
<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>
<%- include('partials/footer') %>
